name: Sync Discussion to Craft

on:
  discussion:
    types: [created, edited, closed, reopened]

jobs:
  sync_to_craft:
    runs-on: ubuntu-latest
    steps:
      - name: Send data to Craft.do via Connect API
        run: |
          RAW_DATE="${{ github.event.discussion.created_at }}"
          FORMATTED_DATE=$(echo $RAW_DATE | cut -d'T' -f1)
          
          curl -X POST "https://connect.craft.do/links/IMLp2tHI5fW/api/v1/collections/66A474B5-5487-432F-BAF4-A210E944A8EA/items" \
          -H "Authorization: Bearer ${{ secrets.CRAFT_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{
            "allowNewSelectOptions": true,
            "items": [
              {
                "": "${{ github.event.discussion.title }}",
                "properties": {
                  "url": "${{ github.event.discussion.html_url }}",
                  "status": "${{ github.event.discussion.state }}",
                  "created": "'"$FORMATTED_DATE"'"
                }
              }
            ]
          }'
